juego/obj/Debug/DesignTimeResolveAssemblyReferences.cache
juego/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
juego/obj/Debug/juego.exe
juego/obj/Debug/juego.pdb
juego/obj/Debug/juego.csproj.ResolveComReference.cache
juego/obj/Debug/juego.csprojAssemblyReference.cache
Thumbs.db
juego/obj/Debug/juego.csproj.GenerateResource.cache
