juego/obj/Debug/DesignTimeResolveAssemblyReferences.cache
juego/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
juego/obj/Debug/juego.exe
juego/obj/Debug/juego.pdb
juego/obj/Debug/juego.csproj.ResolveComReference.cache
juego/obj/Debug/juego.csprojAssemblyReference.cache
Thumbs.db
juego/obj/Debug/juego.csproj.GenerateResource.cache
juego/bin/Debug/ima/Thumbs.db
juego/obj/Debug/juego.csproj.fileListAbsolute.txt
juego/obj/Debug/juego.Ventana_JefesES.resources
juego/obj/Debug/juego.Ventana_Jefes.resources
juego/obj/Debug/juego.VentanaJuego.resources
juego/obj/Debug/juego.Ventana_JefesES.resources
juego/obj/Debug/juego.Gato_raton.resources
juego/obj/Debug/juego.csproj.CoreCompileInputs.cache
juego/obj/Debug/juego.csproj.AssemblyReference.cache
juego/obj/Debug/juego.MenuPrincipal.resources
juego/bin/Debug/juego.exe
juego/bin/Debug/juego.pdb
