juego/obj/Debuj/DesignTimeResolveAssemblyReferences.cache
juego/obj/Debuj/DesignTimeResoolveAssemblyReferencesInput.cache
juego/obj/Debuj/juego.exe
juego/obj/Debuj/juego.pdb
juego/obj/Debuj/juego.csproj.ResolveComReference.cache
juego/obj/Debuj/juego.csprojAssemblyReference.cache
